options:
    user_add:
        application: /usr/sbin/useradd
defaults:
    max_name_length: 25
    base_dir: /home
    name_prefix: ""
configs:
    - administrators:
          users:
              - alex
              - john
          groups:
              - admins
      name_prefix: www-data-
      base_dir: /var/local/home-www
      max_name_length: 20
    - administrators:
          groups:
              - admins
      name_prefix: ftp-
